<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Unique ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @user.developer %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>
<%if current_user.admin? or current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
<%end %>
<%= link_to 'Back', :back %>
