<h1>Listing projects</h1>

<table border="1">
  <thead>
  <tr>
    <th style="padding: 5px 5px 5px 5px">Name</th>
    <th style="padding: 5px 5px 5px 5px">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td style="padding: 5px 5px 5px 5px"><%= project.name %></td>
        <td style="padding: 5px 5px 5px 5px"><%= project.description %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Show', project %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Edit', edit_project_path(project) %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>