<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <%#<% if current_user.admin?  %>
  <strong>Developers:</strong>
  <% @users = User.all%>
  <% @users.each do |user| %>
      <% if user.project == @project %>
        <%= user.name %><br/>
      <% end %>
  <% end %>
  <br/>

  <strong>Add Developers</strong>
  <%= select_tag(@user.id ,options_for_select(@addDeveloper))%>
      <div class="actions">
        <button formaction="addDev">Add</button>
  </div>

  <%#<%end%>
</p>

<p>
  <strong>Show Stories:</strong>
  <%= link_to 'Stories', stories_index_path(:id=>@project.id) %><br/>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
