<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <%#<% if current_user.admin?  %>
  <strong>Developers:</strong><br/>
  <% @users = User.all%>
  <% @users.each do |user| %>
      <% if user.project == @project %>
          <%=form_tag("/projects/delDev",method:"get") do %>
              <%= label_tag(user.name) %>
              <%= hidden_field_tag(:user_id ,user.id)%>
              <%= hidden_field_tag(:id,@project.id)%>
              <%= submit_tag("Delete")%>
          <%end%>
          <br/>
      <% end %>
  <%#<% end %>
  <br/>

  <strong>Add Developers</strong>
  <%=form_tag("/projects/addDev",method:"get") do %>
  <%= select_tag(:user_id ,options_for_select(@addDeveloper))%>
  <%= hidden_field_tag(:id,@project.id)%>
      <%= submit_tag("Add")%>
  <%end%>

  <%end%>

  <%#<% if current_user.developer?  %>
      <% @users = User.all%>
      <% @users.each do |user| %>
          <% if user.project == @project %>
              <%=user.name%>
              <br/>
          <% end %>
      <% end %>
      <br/>
  <%#<%end%>

</p>

<p>
  <strong>Show Stories:</strong>
  <%= link_to 'Stories', stories_index_path(:id=>@project.id) %><br/>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
