<%= form_for(@story) do |f| %>

    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

          <ul>
            <% @story.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <input type="hidden" value="<%=@project.id%>" />

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :developer1 %><br>
      <%= f.text_field :developer1 %>
    </div>
    <div class="field">
      <%= f.label :developer2 %><br>
      <%= f.text_field :developer2 %>
    </div>
    <div class="field">
      <%= f.label :pointValue %><br>
      <%= select_tag(:pointValue, options_for_select(@pointValue)) %>
    </div>
    <div class="field">
      <%= f.label :stage %><br>
      <%= select_tag(:stage, options_for_select(@stageOptions)) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
