<%= form_for(@story) do |f| %>
    <% puts params %>
    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

          <ul>
            <% @story.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :project_id, :project_id => "params[:id]"%>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :developer1_id %><br>
      <%= f.text_field :developer1_id %>
    </div>
    <div class="field">
      <%= f.label :developer2_id %><br>
      <%= f.text_field :developer2_id %>
    </div>
    <div class="field">
      <%= f.label :pointValue %><br>
      <%= f.select(:pointValue, options_for_select(@pointValue)) %>
    </div>
    <div class="field">
      <%= f.label :stage %><br>
      <%= f.select(:stage, options_for_select(@stageOptions)) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
