
<%content_for :list_area do%>
<h1>Listing Stories</h1>
<h3>Search Stories</h3>
<%= form_tag("/stories", method: "get") do %>
    <%= hidden_field_tag(:id, @project.id) %>
    <%= label_tag(:title, "Search for:") %>
    <%= text_field_tag(:title) %>
    <%= submit_tag("Search") %>
<% end %>

<table border="1">
  <thead>
  <tr>
    <th style="padding: 5px 5px 5px 5px">Name</th>
    <th style="padding: 5px 5px 5px 5px">Description</th>
    <th style="padding: 5px 5px 5px 5px">Point Value</th>
    <th style="padding: 5px 5px 5px 5px">Stage</th>
    <th style="padding: 5px 5px 5px 5px">Developer 1</th>
    <th style="padding: 5px 5px 5px 5px">Developer 2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @stories.each do |story| %>
      <tr>
        <td style="padding: 5px 5px 5px 5px"><%= story.title %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.description %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.pointValue %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.stage %></td>
        <td style="padding: 5px 5px 5px 5px">
          <%unless story.developer1.nil? %>
          <%= story.developer1.name %><br />
              <% end %>
              <%= link_to 'Signup',"/stories/#{story.id}/stories/signup_dev1/#{story.id}/#{current_user.id}" %></td>
        <td style="padding: 5px 5px 5px 5px">
          <%unless story.developer2.nil? %>
          <%= story.developer2.name %><br />
          <% end %>
          <%= link_to 'Signup',"/stories/#{story.id}/stories/signup_dev2/#{story.id}/#{current_user.id}" %></td>
        <% if current_user.project == @project && current_user.developer? %>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Show', story %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Edit', edit_story_path(story) %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
            </tr>
  <% end %>
  </tbody>
</table>

<br>

    <% if current_user.project == @project && current_user.developer? %>
<%= link_to 'New Story', new_story_path(:project=>@project, :id=>@project.id) %>
        <% end %>
<%= link_to 'Back To Project', project_path(@project.id)%>
<% end%>