<h1>Listing Stories</h1>

<table border="1">
  <thead>
  <tr>
    <th style="padding: 5px 5px 5px 5px">Name</th>
    <th style="padding: 5px 5px 5px 5px">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @stories.each do |story| %>
      <tr>
        <td style="padding: 5px 5px 5px 5px"><%= story.name %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.description %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Show', story %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Edit', edit_story_path(story) %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Delete', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path(:id=>@project.id) %>
<%= link_to 'Back To Project', project_path(@project.id)%>