
<%content_for :list_area do%>
<h1>Listing Stories</h1>
<h3>Search Stories</h3>
<%= form_tag("/stories", method: "get") do %>
    <%= hidden_field_tag(:id, @project.id) %>
    <%= label_tag(:title, "Search for:") %>
    <%= text_field_tag(:title) %>
    <%= submit_tag("Search") %>
<% end %>

<table border="1">
  <thead>
  <tr>
    <th style="padding: 5px 5px 5px 5px">Name</th>
    <th style="padding: 5px 5px 5px 5px">Description</th>
    <th style="padding: 5px 5px 5px 5px">Point Value</th>
    <th style="padding: 5px 5px 5px 5px">Stage</th>
    <th style="padding: 5px 5px 5px 5px">Developer 1</th>
    <th style="padding: 5px 5px 5px 5px">Developer 2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @stories.each do |story| %>
      <tr>
        <td style="padding: 5px 5px 5px 5px"><%= story.title %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.description %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.pointValue %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.stage %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.developer1 %></td>
        <td style="padding: 5px 5px 5px 5px"><%= story.developer2 %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Show', story %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Edit', edit_story_path(story) %></td>
        <td style="padding: 5px 5px 5px 5px"><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path(:project=>@project, :id=>@project.id) %>
<%= link_to 'Back To Project', project_path(@project.id)%>
<% end%>