<!DOCTYPE html>
<html>
<head>
  <title>Online Cookbook</title>
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div style="width:100%">
<div style="width:10%; float:left;"></div>
<div style="width:80%; float:right;">

  <h1>Online Cookbook</h1>
  <%= yield %>
  <%= yield :list_area %>
  <p>
    <%= link_to "Show all recipes", recipes_path %>
    <%= link_to "Show all categories", categories_path %>
    <%= link_to "Show all users", users_path %>
    <%=link_to "Show all projects",projects_path%>
    <% if logged_in? %>
        <%= link_to "Log out", logout_path %>
    <% end -%>
  </p>
</div>
<div style="width:80%; float:left;"></div>
</div>

</body>
</html>
